body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

header {
    background-color: #1a1a1a;
    color: white;
    padding: 0px 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #00b300;
}


nav ul li a.active {
    background-color: #00b300;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #1a1a1a;
}

.date-time {
    color: #1a1a1a;
    font-size: 1.5rem;
    color: #00ffff;
}

.table-title {
    margin: 0;
    padding: 5px 25px;
    color: #00e600;
}

.tables-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 20px;
    margin-top: 0%;
}

.Previous-Block-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Previous-Block-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    border: 2px solid white;
    border-bottom: none;
}

.Previous-Block-tbody tr {
    line-height: 0
}

.Current-Block-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Current-Block-table,
th,
td {
    text-align: left;
}

.Current-Block-table caption {
    font-weight: bold;
    color: #00e600;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    font-weight: bold;
    border: 2px solid white;
    border-bottom: none;
}

.table-containerss {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
}

.Previous-Block-Status-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Previous-Block-Status-table,
th,
td {
    /* padding: 8px; */
    text-align: left;
}

.Previous-Block-Status-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Fuel-Cost-Frequency-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Fuel-Cost-Frequency-table,
th,
td {
    text-align: left;
}

.Fuel-Cost-Frequency-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Next-Block-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Next-Block-table,
th,
td {
    text-align: left;
}

.Next-Block-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Normal-Rate-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}


.Normal-Rate-table,
th,
td {
    text-align: left;
}

.Normal-Rate-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Cumulative-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Cumulative-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Cumulative-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.tables-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    gap: 5px;
}

.Real-Time-Generation-Data-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Real-Time-Generation-Data-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Real-Time-Generation-Data-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Real-Time-Exp-Imp-Data-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Real-Time-Exp-Imp-Data-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Real-Time-Exp-Imp-Data-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Real-Time-table {
    /* margin: 10px; */
    /* width: 33%; */
    background-color: #1a1a1a;
    /* min-height: 600px; */
    /* height: 100%; */
    border: 2px solid white;
    border-top: none;

}

.Real-Time-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Real-Time-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}


.Real-Time-tbody,
tr {
    line-height: 100%;
}

.Misnew-Current-Blocks-table {
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Misnew-Current-Blocks-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Misnew-Current-Blocks-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Misnew-Cumulatives-table {
    border-collapse: collapse;
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Misnew-Cumulatives-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Misnew-Cumulatives-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}


.Acp-Fuel-Cost-Frequency-table {
    border-collapse: collapse;
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Acp-Fuel-Cost-Frequency-table,
th,
td {
    padding: 8px;
    text-align: left;
}

.Acp-Fuel-Cost-Frequency-table caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
    border: 2px solid white;
    border-bottom: none;
}

.Normal-Rate-tables {
    border-collapse: collapse;
    margin: 10px;
    width: 50%;
    background-color: #1a1a1a;
    border: 2px solid white;
    border-top: none;
}

.Normal-Rate-tables,
th,
td {
    padding: 8px;
    text-align: left;
}

.Normal-Rate-tables caption {
    font-weight: bold;
    color: #f79546;
    background-color: #1a1a1a;
    font-size: 1.3rem;
    text-align: left;
    padding: 5px;
}

.tabless-containerss {
    display: grid;
    grid-template-columns: 69.6% 30%;
    /* First column 300px, second column 500px */
    margin: 20px;
    gap: 5px;
}

.reactive-power-header {
    text-align: center;
    color: #f79546;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-radius: 5px;

}

.normal-rate-label {
    color: #de00de;
    font-weight: bold;
    font-size: 1.2rem;
}

.normal-rate-value {
    color: #00ff00;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.SLPP-Phase-1-caption {
    text-align: center;
    color: #de00de;
    padding: 12px;
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-radius: 5px;
}

.SLPP-Phase-2-caption {
    text-align: center;
    color: #de00de;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-radius: 5px;
}

.SLPP-caption {
    text-align: center;
    color: #de00de;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-radius: 5px;
}

.SLPP-Phase-1-Subheading {
    color: #00eaea;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.SLPP-Phase-2-Subheading {
    color: #00eaea;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.SLPP-Subheading {
    color: #00eaea;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Current-Block-Heading {
    color: #de00de;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
}

.Current-Block-Subheading {
    color: #de00de;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.Current-Block-Frequency-Heading {
    text-align: center;
    color: #de00de;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.Misnew-Cumulatives-Heading {
    color: #de00de;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
}

.Misnew-Cumulatives-Subheading {
    color: #de00de;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.Real-Time-Generation-Data-row-label {
    color: #de00de;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.Real-Time-Generation-Data-row-value {
    color: #00e800;
    font-weight: bold;
    text-align: "center";
    font-size: 1.1rem;

}

.Real-Time-Generation-Data-Subheader {
    color: #00eaea;
    font-weight: bold;
    text-align: "center";
    font-size: 1.1rem;

}

.Total-Row {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
    background-color: #333;
    font-size: 1.1rem;
}

.Real-Time-Generation-Data-APC {
    text-align: left;
    color: #f79546;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.previousBlock-label {
    color: #00eaea;
    font-weight: bold;
    font-size: 1.1rem;
}

.previousBlock-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;

}

.currentBlock-label {
    color: #e7e700;
    font-weight: bold;
    font-size: 1.1rem;
}

.currentBlock-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.previous-block-status-label {
    font-weight: bold;
    text-align: center;
    color: #00eaea;
    font-weight: bold;
}

.table-cell {
    font-weight: bold;
    text-align: center;
}

.average-row {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
}

.text-red {
    color: red;
}

.text-green {
    color: #00e800;
}

.text-white {
    color: white;
}

.tables-containerss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 590px; */
    gap: 5px;
    margin: 20px;
    margin-top: 0%;
}

.fuelCost-label {
    color: #de00de;
    font-weight: bold;
    font-size: 1.1rem;
}

.fuelCost-value {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Next-Block-table-label {
    color: #00eaea;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.next-block-label {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.cumulative-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.cumulative-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.real-time-generation-data-label {
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.real-time-exp-imp-data-row-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.real-time-exp-imp-data-row-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.real-time-value-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.real-time-value-value {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Misnew-Current-block-label {
    color: #e7e700;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.Misnew-Current-block-value {
    color: #00e800;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Misnew-Cumm-Upto-PreBlk-row-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.Misnew-Cumm-Upto-PreBlk-row-value {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Misnew-ACP-Fuel-Cost-Frequency-row-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}

.Misnew-ACP-Fuel-Cost-Frequency-row-value {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

.Misnew-Normal-Rate-row-label {
    color: #00eaea;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

.Misnew-Normal-Rate-row-value {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

/* Media Query for 1024x768 resolution */
@media screen and (max-width: 1024px) and (max-height: 768px) {
    body {
        font-size: 1rem;
        /* Adjust base font size for 1024x768 */
    }

    nav ul li a {
        font-size: 0.8rem;
        /* Adjust nav links font size */
        padding: 6px 12px;
        /* Slightly smaller padding */
    }

    .date-time {
        font-size: 0.8rem;
        /* Adjust date-time font size */
    }

    .table-title {
        font-size: 0.8rem;
        /* Adjust table-title font size */
    }

    .Previous-Block-table caption,
    .Current-Block-table caption,
    .Previous-Block-Status-table caption,
    .Fuel-Cost-Frequency-table caption,
    .Next-Block-table caption,
    .Normal-Rate-table caption,
    .Cumulative-table caption,
    .Real-Time-Generation-Data-table caption,
    .Real-Time-Exp-Imp-Data-table caption,
    .Real-Time-table caption,
    .Misnew-Current-Blocks-table caption,
    .Misnew-Cumulatives-table caption,
    .Acp-Fuel-Cost-Frequency-table caption,
    .Normal-Rate-tables caption {
        font-size: 0.9rem;
        /* Adjust caption font size */
    }

    .Previous-Block-table,
    .Current-Block-table,
    .Cumulative-table,
    .Misnew-Previous-Block-table,
    .Misnew-Current-Block-table,
    .Misnew-Cumulatives-table,
    .Acp-Fuel-Cost-Frequency-table,
    .Normal-Rate-tables,
    th,
    td {
        font-size: 0.7rem;
        /* Adjust table content font size */
        padding: 2px;
    }

    .tables-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin: 20px;
        margin-top: 0%;
    }

    .header-container {
        padding: 3px;
        /* Reduce header padding */
    }

    header {
        padding: 0px 20px;
        /* Reduce header side padding */
    }

    .reactive-power-header {
        text-align: center;
        color: #f79546;
        padding: 2px;
        font-weight: bold;
        font-size: 0.7rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
        border-radius: 2px;

    }

    .tables-container .Fuel-Cost-Frequency-table {
        height: 50px;
        /* Adjust the height as needed */
    }

    .Previous-Block-Status-table table {
        height: 50px;
        /* Adjust the height as needed */
    }

    .normal-rate-label {
        color: #de00de;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .normal-rate-value {
        color: #00ff00;
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
    }

    .Next-Block-table {
        height: 80px;
        /* Adjust the height as needed */
    }


    .SLPP-Phase-1-caption {
        text-align: center;
        color: #de00de;
        padding: 12px;
        font-weight: bold;
        font-size: 0.9rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: none;
        border-right: none;
        border-radius: 5px;
        margin-top: -1px;
    }

    .SLPP-Phase-2-caption {
        text-align: center;
        color: #de00de;
        padding: 2px;
        font-weight: bold;
        font-size: 0.9rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: none;
        border-right: none;
        border-radius: 5px;

    }

    .SLPP-caption {
        text-align: center;
        color: #de00de;
        padding: 2px;
        font-weight: bold;
        font-size: 0.9rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: none;
        border-right: none;
        border-radius: 5px;
    }

    .SLPP-Phase-1-Subheading {
        color: #00eaea;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .SLPP-Phase-2-Subheading {
        color: #00eaea;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .SLPP-Subheading {
        color: #00eaea;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Real-Time-table {
        /* border-collapse: collapse; */
        background-color: #1a1a1a;
        min-height: 450px;
        height: 100%;
        border: 2px solid white;
        border-top: none;

    }

    .Current-Block-Heading {
        color: #de00de;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Current-Block-Subheading {
        color: #de00de;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .Current-Block-Frequency-Heading {
        text-align: center;
        color: #de00de;
        padding: 2px;
        font-size: 0.7rem;
        font-weight: bold;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .Misnew-Current-Blocks-table {
        /* border-collapse: collapse; */
        background-color: #1a1a1a;
        min-height: 450px;
        height: 100%;
        border: 2px solid white;
        border-top: none;
    }

    .Misnew-Cumulatives-Heading {
        color: #de00de;
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;
    }

    .Misnew-Cumulatives-Heading {
        color: #de00de;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Misnew-Cumulatives-Subheading {
        color: #de00de;
        text-align: center;
        font-weight: bold;
        font-size: 0.7rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .Misnew-Cumulatives-table {
        border-collapse: collapse;
        background-color: #1a1a1a;
        min-height: 450px;
        height: 100%;
        border: 2px solid white;
        border-top: none;
    }

    .tabless-containerss {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 270px;
        margin: 20px;
        gap: 5px;
        margin-top: 3%;
    }

    .Previous-Block-table {
        /* border-collapse: collapse; */
        background-color: #1a1a1a;
        border: 2px solid white;
        /* White border to create the frame */
        border-top: none;
        /* Remove the top border for alignment with caption */
    }

    .Current-Block-table {
        /* border-collapse: collapse; */
        background-color: #1a1a1a;
        border: 2px solid white;
        /* White border to create the frame */
        border-top: none;
        /* Remove the top border for alignment with caption */
        /* gap: 10px; */
    }

    .Cumulative-table {
        /* border-collapse: collapse; */
        background-color: #1a1a1a;
        border: 2px solid white;
        /* White border to create the frame */
        border-top: none;
        /* Remove the top border for alignment with caption */
    }

    .Real-Time-Generation-Data-table {
        height: 250px;

    }

    .Real-Time-Generation-Data-row-label {
        font-size: 0.7rem;
    }

    .Real-Time-Generation-Data-row-value {
        color: #00e800;
        font-weight: bold;
        text-align: "center";
        font-size: 0.7rem;

    }

    .Real-Time-Generation-Data-Subheader {
        color: #00eaea;
        font-weight: bold;
        text-align: "center";
        font-size: 0.6rem;

    }

    .Total-Row {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        padding: 2px;
        background-color: #333;
        font-size: 0.7rem;

    }

    .Real-Time-Generation-Data-APC {
        text-align: left;
        color: #f79546;
        padding: 5px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .previousBlock-label {
        color: #00eaea;
        font-weight: bold;
        font-size: 0.7rem;
    }

    .previousBlock-value {
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;

    }

    .currentBlock-label {
        color: #e7e700;
        font-weight: bold;
        font-size: 0.7rem;
    }

    .currentBlock-value {
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .fuelCost-label {
        color: #de00de;
        font-weight: bold;
        font-size: 0.7rem;
    }

    .fuelCost-value {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Next-Block-table-label {
        color: #00eaea;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .next-block-label {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .cumulative-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .cumulative-value {
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .real-time-generation-data-label {
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .real-time-exp-imp-data-row-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .real-time-exp-imp-data-row-value {
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .real-time-value-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .real-time-value-value {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Misnew-Current-block-label {
        color: #e7e700;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .Misnew-Current-block-value {
        color: #00e800;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Misnew-Cumm-Upto-PreBlk-row-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .Misnew-Cumm-Upto-PreBlk-row-value {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Misnew-ACP-Fuel-Cost-Frequency-row-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .Misnew-ACP-Fuel-Cost-Frequency-row-value {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

    .Misnew-Normal-Rate-row-label {
        color: #00eaea;
        font-weight: bold;
        text-align: left;
        font-size: 0.7rem;
    }

    .Misnew-Normal-Rate-row-value {
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 0.7rem;
    }

}